.flexwrap {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  height: 500px;
  align-content: flex-start;
}

.flex-inner {
  flex-basis: 400px;
  background-color: olive;
  border: 1px solid black;
  box-sizing: border-box;
  width: 200px;
  height: 100px;
}
