<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Table website tempate</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <td class="header" colspan="3">
                        Header info
                    </td>
                </tr>
                <tr class="navbar">
                    <td colspan="3">
                        Menu here
                    </td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="3">
                        &copy; Copyright
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td class="vertical-menu" rowspan="2"></td>
                    <td class="content" rowspan="2"></td>
                    <td class="widget">Widget 1</td>
                </tr>
                <tr>
                    <td class="widget">Widget 2</td>
                </tr>
            </tbody>
        </table>
    </body>

</html>