.slider {
  width: 500px;
  height: 250px;
}
.slider__container {
  width: 100%;
  height: 100%;
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__controls {
  padding-top: 1rem;
  text-align: center;
}
.slider__nav {
  cursor: pointer;
}
.slider__dots {
  padding: 1rem 0;
  text-align: center;
}
.slider__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(223, 137, 137);
  border-radius: 50%;
  display: inline-block;
}
.slider__dot.active,
.slider__dot:hover {
  background-color: #e43434;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
