@import "./normalize";
@import "./vars";

a {
  color: $linkColor;
  font-size: 1rem;

  &:hover {
    color: $linkHoverColor;
  }

  & > span {
    border-bottom: 1px solid $linkColor;
  }
}

.product {
  margin: 0 auto;
  &__name {
    font-size: 2rem;
  }
  &__price {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: $h1size;
}

div {
  width: 200px * 2;
}

button {
  //color: lighten($linkColor, 30%);
  color: darken($linkColor, 10%);
  background-color: transparentize($linkColor, 0.2);
  background-color: opacify(rgba(0, 128, 0, 0.3), 0.2);
}
