// pallete
$linkColor: green;
$linkHoverColor: lightgreen;
$mainColor: violet;

// font-size
$basicSize: 1.8rem;
$h1size: 2.5rem;

// breakpoints
$projector: 1440px;
$desktop: 1024px;
$notebook: 992px;
$tablet: 768px;
$phone: 576px;
