.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkslategray;
}

.flexbox > div {
  border: 1px solid black;
  padding: 10px;
  background-color: deeppink;
}
